src/main/resources/xsd/products_priced_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="AuthenticationType">
    <xs:sequence>
      <xs:element type="xs:string" name="Channel"/>
      <xs:element type="xs:string" name="Session"/>
      <xs:element type="xs:string" name="Username"/>
      <xs:element type="xs:string" name="Password"/>
      <xs:element type="xs:string" name="Locale"/>
      <xs:element type="xs:string" name="Currency"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonalisationItemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonalisationType">
    <xs:sequence>
      <xs:element type="PersonalisationItemType" name="PersonalisationItem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelInformationType">
    <xs:sequence>
      <xs:element type="xs:string" name="TravelItemValue" minOccurs="0"/>
      <xs:element type="xs:string" name="StartDate" minOccurs="0"/>
      <xs:element type="xs:string" name="EndDate" minOccurs="0"/>
      <xs:element type="xs:string" name="DepartureCountry" minOccurs="0"/>
      <xs:element type="CoverCountriesType" name="CoverCountries" minOccurs="0"/>
      <xs:element type="xs:string" name="BookingValue" minOccurs="0"/>
      <xs:element type="FlightInformationsType" name="FlightInformations" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsuredType">
    <xs:sequence>
      <xs:element type="xs:string" name="DOB"/>
      <xs:element type="xs:string" name="Residency"/>
      <xs:element type="PersonalisationType" name="Personalisation"/>
      <xs:element type="TravelInformationType" name="TravelInformation"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID"/>
  </xs:complexType>
  <xs:complexType name="InsuredsType">
    <xs:sequence>
      <xs:element type="InsuredType" name="Insured"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CoverCountriesType">
    <xs:sequence>
      <xs:element name="CoverCountry">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BH"/>
            <xs:enumeration value="ZA"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightInformationType">
    <xs:sequence>
      <xs:element type="xs:string" name="Airline"/>
      <xs:element type="xs:string" name="SupplierReference"/>
      <xs:element type="xs:string" name="FlightNumber"/>
      <xs:element name="StartDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2021-12-01"/>
            <xs:enumeration value="2021-12-07"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EndDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2021-12-05"/>
            <xs:enumeration value="2021-12-10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OriginCity">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CPT"/>
            <xs:enumeration value="BAH"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DestinationCity">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BAH"/>
            <xs:enumeration value="CPT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="CoverCountriesType" name="CoverCountries"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Segment" use="optional"/>
  </xs:complexType>
  <xs:complexType name="FlightInformationsType">
    <xs:sequence>
      <xs:element type="FlightInformationType" name="FlightInformation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestParametersType">
    <xs:sequence>
      <xs:element type="InsuredsType" name="Insureds"/>
      <xs:element type="TravelInformationType" name="TravelInformation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element type="AuthenticationType" name="Authentication"/>
      <xs:element type="RequestParametersType" name="RequestParameters"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>